<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">Menu</span>
	</button>
	<ul class="menu__list">
		<li class="menu__item">
			<a class="menu__link" href="/docs/getting-started/">
				
				<span class="menu__text">Getting started</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/customization/">
				
				<span class="menu__text">Customization</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/docs/faq/">
				
				<span class="menu__text">FAQ</span>
				
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="/basic-html-elements/">
				
				<span class="menu__text">Basic Elements</span>
				
			</a>
		</li>
	
	</ul>
</nav>



<div class="post-nav post-prev">
<i class="fas fa-fw fa-chevron-left"></i>
<a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a>
</div>

<div class="post-nav post-next">
<a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a>
<i class="fas fa-fw fa-chevron-right"></i>
</div>

<nav>
  {% if page.previous %}
    <a class="linear" rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}">
      <header>Previous</header>
      {{ page.previous.title }}
    </a>
  {% endif %}
  {% if page.next %}
    <a class="linear" rel="prev" href="{{ site.baseurl }}{{ page.next.url }}">
      <header>Next</header>
      {{ page.next.title }}
    </a>
  {% endif %}
</nav>